# Discord Bot
DISCORD_TOKEN=

# AI Engine
GROQ_API_KEY=
GROQ_MODEL=llama-3-8b-instant

# Database
DATABASE_URL=postgresql://user:password@host:5432/database

# Reddit API (Optional for Phase 2, needed Phase 3)
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_BOT_USERNAME=

# Environment
NODE_ENV=development
PYTHON_ENV=development
